.Description {
  position: absolute;
  width: 85%;
  background: rgb(114, 18, 80, 0.2);
  box-shadow: inset 100px 10px 100px 100px rgba(37, 2, 38, 0.88);
  border: 2px solid #e53704;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  top: 80vh;


}
.about-me {
  text-align: center;
  p{
    opacity: 100%;
    color: #e19681;
    text-align: left;
  }
  h1{
    opacity: 100%;
    color: #e53704 ;
  }


}