.Description {
  position: absolute;
  width: 50%;
  background: rgb(114, 18, 80, 0.2);
  box-shadow: inset 10px 10px 100px 30px rgba(37, 2, 38, 0.88);
  //border: 2px solid #e53704;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  top: 80vh;
  z-index: 9;


}

.aboutMe {
  text-align: center;
  p{
    font-size: 2.5vh;
    color: #1669be;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
    text-align: left;
  }
  h1{
    font-size: 3.5vh;
    color: #940869;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
  }
}
@media screen and (max-width: 600px) {
  .Description {
    width: 85%;
    top: 60vh;
    }
}

