.Resume {
  position: absolute;
  bottom: 1vh;
  left: 47vw;
  z-index: 10;
  width: 100%;;
}

.ResumeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  background: transparent;


  .ResumeLogo {
    color:  rgb(250,250,250);
  }
}
.resume {
  border: 8px solid rgb(49, 134, 21);

  .resumeIcon {
    color: rgb(84, 148, 220);
  }
}
.resume:hover {
  border: 3px dotted rgb(250, 250, 250);
  box-shadow: inset 0 0 25px rgb(67, 176, 31);
  transition: all 0.5s ease;
  .resumeIcon {
    color: rgb(153, 241, 124);
    text-shadow: 0 0 15px rgb(75, 162, 46);
    transition: all 0.5s ease;
  }

}
h3{
  color: #afafaf;
}
@media screen and (max-width: 600px) {
  .Resume {
    left: 38vw;

    h3 {
      color: #dedede;

    }
  }
  .ResumeBtn {
    width: 11vh;
    height: 11vh;
  }
}