.ContactMe {
  position: absolute;
  width: 70%;
  background: rgb(114, 18, 80, 0.2);
  box-shadow: inset 10px 10px 100px 30px rgba(37, 2, 38, 0.88);
  //border: 2px solid #e53704;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  top: 205vh;
  z-index: 9;

  h1 {
    text-align: center;
      font-size: 4vh;
      color: #940869;
      text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
  }

  &__inputs {
    opacity: 1;
    text-align: left;
    margin: 25px;

    input {
      margin: 10px;
      width: 100%;
      height: 5vh;
      background: rgba(44, 82, 129, 0.5);
      color: #c384e7;
      font-size: 3vh;
    }
    textarea {
      margin: 10px;
      width: 100%;
      height: 15vh;
      background: rgba(44, 82, 129, 0.5);
      color: #c384e7;
      font-size: 3vh;
      resize: none;
    }
  }

  &__btn {
    margin: 0 auto;
    outline: none;
    text-align: center;
    width: 100%;
    height:2.5vh;

    button {
      text-align: center;
      width: 50%;
      height:3vh;
      font-size: 2vh;
      background: rgba(34, 140, 245, 0.9);;
      outline: none;
      border-radius: 5px;
      color: #730f8e;
      border: 1px solid #730f8e;

      &:hover {
        background: rgba(34, 140, 245, 1);
        color: #af0fda;
      }

    }
  }

}
@media screen and (max-width: 600px) {
  .ContactMe {
    width: 85%;
    top: 190vh;
  }
}
