.ContactMe {
  position: absolute;
  width: 70%;
  background: rgb(114, 18, 80, 0.2);
  box-shadow: inset 10px 10px 100px 30px rgba(37, 2, 38, 0.88);
  //border: 2px solid #e53704;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  top: 205vh;

  h1 {
    text-align: center;
      font-size: 4vh;
      color: #940869;
      text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
  }

  &__inputs {
    opacity: 1;
    color: #e19681;
    text-align: left;
    margin: 25px;

    input {
      margin: 10px;
    }
  }

  &__btn {
    margin: 25px;
    outline: none;
  }

}
@media screen and (max-width: 600px) {
  .ContactMe {
    width: 85%;
    top: 200vh;
  }
}
