.Introduction {
  position: absolute;
  width: 50%;
  background: rgb(114, 18, 80, 0.2);
  box-shadow: inset 10px 10px 100px 30px rgba(37, 2, 38, 0.88);
  //border: 2px solid #e53704;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  top: 30vh;


  &__logo {
    text-align: center;
    p{
      opacity: 1;
      color: #e19681;
      text-align: left;
    }
    h1{
      opacity: 1;
    }
}



}
@media screen and (max-width: 600px) {
  .Description {
      width: 100%;
    top: 50vh;

  }
}
